.wp-block-template-part {
  margin: 0;
}
/* ********** Group ********** */
/* Box Shadow */
.is-style-grocefycart-boxshadow {
  box-shadow: 0px 8px 30px 0px rgba(2, 27, 11, 0.1);
}
/* Overflow Hidden */
.is-style-grocefycart-overflow-hidden {
  overflow: hidden;
}
/* ********** Categories List ********** */
ul.is-style-grocefycart-categories-flex-style li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--wp--preset--color--border);
  color: var(--wp--preset--color--primary);
}

/* ********** Categories ********** */
.is-style-categories-primary-background a,
.is-style-categories-secondary-background a,
.is-style-categories-terniary-background a,
.is-style-categories-mixed-background a,
.is-style-categories-faded-background a {
  padding: 5px 12px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.is-style-categories-primary-background a:hover,
.is-style-categories-secondary-background a:hover,
.is-style-categories-terniary-background a:hover,
.is-style-categories-mixed-background a:hover,
.is-style-categories-faded-background a:hover {
  transform: translateY(-3px);
}

/* Primary */
.is-style-categories-primary-background a {
  background: var(--wp--preset--color--primary);
}
.is-style-categories-primary-background:hover a {
  background: var(--wp--preset--color--secondary);
}
/* Secondary */
.is-style-categories-secondary-background a {
  background: var(--wp--preset--color--secondary);
}
.is-style-categories-secondary-background:hover a {
  background: var(--wp--preset--color--terniary);
}
/* Terniary */
.is-style-categories-terniary-background a {
  background: var(--wp--preset--color--terniary);
}
.is-style-categories-terniary-background:hover a {
  background: var(--wp--preset--color--primary);
}

/* Mixed */
.is-style-categories-mixed-background a:nth-child(3n + 1) {
  background: var(--wp--preset--color--primary);
}
.is-style-categories-mixed-background a:nth-child(3n + 2) {
  background: var(--wp--preset--color--secondary);
}
.is-style-categories-mixed-background a:nth-child(3n) {
  background: var(--wp--preset--color--terniary);
}
/* Faded */
.is-style-categories-faded-background a {
  background: color-mix(
    in srgb,
    var(--wp--preset--color--primary) 10%,
    transparent
  );
}
