<!-- wp:template-part {"slug":"header","theme":"grocefycart","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
  <!-- wp:pattern {"slug":"grocefycart/hero-section-stats"} /-->
  <!-- wp:pattern {"slug":"grocefycart/about-alternate"} /-->
  <!-- wp:pattern {"slug":"grocefycart/our-services"} /-->
  <!-- wp:pattern {"slug":"grocefycart/pricing-table-4"} /-->
  <!-- wp:pattern {"slug":"grocefycart/testimonial-grid"} /-->
  <!-- wp:pattern {"slug":"grocefycart/faq-layout-4"} /-->
  <!-- wp:pattern {"slug":"grocefycart/call-to-action-2"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"grocefycart","area":"footer"} /-->
